<div class="p-6 bg-gray-50 min-h-screen">
    <div class="max-w-7xl mx-auto">
        <!-- Header -->
        <div class="mb-8">
            <div>
                <h2 class="text-3xl font-extrabold text-gray-900 tracking-tight">Auditoría del Sistema</h2>
                <p class="text-gray-500 mt-1 text-sm font-medium">Registro detallado de actividad y cambios en la
                    plataforma.</p>
            </div>
        </div>

        <app-audit-filters (filtersChanged)="onFiltersChanged($event)">
        </app-audit-filters>

        <app-audit-list [logs]="logs()" [loading]="loading()" [currentPage]="currentPage()" [pageSize]="pageSize"
            (itemSelected)="onItemSelected($event)" (pageChange)="onPageChange($event)">
        </app-audit-list>
    </div>
</div>

@if (selectedLog()) {
<app-audit-details [log]="selectedLog()!" (close)="selectedLog.set(null)">
</app-audit-details>
}