:host {
    display: block;
}

.news-content {
    ::ng-deep {
        img {
            max-width: 100% !important;
            height: auto !important;
            border-radius: 1rem;
        }

        iframe {
            max-width: 100% !important;
            border-radius: 1rem;
        }

        p {
            word-wrap: break-word;
            overflow-wrap: break-word;
        }
    }
}