<app-stat-card
  title="Mi Balance de Ausencias"
  [value]="balance()?.available_value || 0"
  [suffix]="getUnitLabel(balance()?.unit)"
  icon="lucidePalmtree"
  variant="primary"
  [description]="'Disponible para ' + (balance()?.name || 'Vacaciones')">
  
  <div class="flex items-center justify-between mt-2 pt-4 border-t border-gray-100/20 cursor-pointer group" routerLink="/vacation">
      <span class="text-[10px] font-bold text-gray-500 uppercase tracking-wider group-hover:text-inespasa transition-colors">Gestionar ausencias</span>
      <ng-icon name="lucideArrowRight"
          class="text-lg text-gray-400 transform group-hover:translate-x-1 group-hover:text-inespasa transition-all"></ng-icon>
  </div>
</app-stat-card>